.service-section{
    .each-service{
        position: relative;
        overflow: hidden;
        border: none;
        height: 460px;
        margin-bottom: 30px!important;
        margin-top: 0!important;
        cursor: pointer;
    }
}
